In [115]:
import csv
from pathlib import Path
import numpy as np
import pandas as pd

In [4]:
menu_filepath = Path('Resources/menu_data.csv')
sales_filepath = Path('Resources/sales_data.csv')

In [83]:
df_menu = pd.read_csv(menu_filepath)
df_sales = pd.read_csv(sales_filepath)

In [84]:
df_menu.drop('description', axis=1, inplace=True)
df_sales.drop(['Line_Item_ID', 'Date', 'Credit_Card_Number'], axis=1, inplace=True)

In [85]:
df_menu['profit'] = df_menu['price'] - df_menu['cost']
#df_menu.set_index('item')

In [64]:
#report = {'01-count':0 ,'02-revenue':0, '03-cogs': 0, '04-profit':0}
report = {}

In [104]:
df_total = df_sales.groupby('Menu_Item').sum()

In [112]:
for sales_item in df_total.index.to_list():
    quantity = df_total.loc[sales_item].values[0]
    price = df_menu.price[df_menu['item']==sales_item].values[0]
    cost = df_menu.cost[df_menu['item']==sales_item].values[0]
    profit = df_menu.profit[df_menu['item']==sales_item].values[0]            
    
    report[sales_item] = {}
    report[sales_item]["01-count"] = quantity
    report[sales_item]["02-revenue"] = int(price * quantity)
    report[sales_item]["03-cogs"] = int(cost * quantity)
    report[sales_item]["04-profit"] = int(profit * quantity)

In [119]:
for key in report:
    print(str(report[key]))

{'01-count': 9070, '02-revenue': 126980, '03-cogs': 54420, '04-profit': 72560}
{'01-count': 8890, '02-revenue': 106680, '03-cogs': 53340, '04-profit': 53340}
{'01-count': 9132, '02-revenue': 100452, '03-cogs': 45660, '04-profit': 54792}
{'01-count': 9180, '02-revenue': 100980, '03-cogs': 45900, '04-profit': 55080}
{'01-count': 9130, '02-revenue': 127820, '03-cogs': 63910, '04-profit': 63910}
{'01-count': 9238, '02-revenue': 110856, '03-cogs': 46190, '04-profit': 64666}
{'01-count': 9288, '02-revenue': 120744, '03-cogs': 55728, '04-profit': 65016}
{'01-count': 9156, '02-revenue': 119028, '03-cogs': 54936, '04-profit': 64092}
{'01-count': 8982, '02-revenue': 125748, '03-cogs': 62874, '04-profit': 62874}
{'01-count': 8824, '02-revenue': 114712, '03-cogs': 61768, '04-profit': 52944}
{'01-count': 9216, '02-revenue': 110592, '03-cogs': 46080, '04-profit': 64512}

In [121]:
with open('ramen_anaalysis.txt', 'w') as writer:
    for key in report:
        line = key + str(report[key]) + '\n'
        writer.write(line)